# Prácticas con SQL

Para executar as consultas SQL debes ter acceso a un servidor Mysql/MariaDB coa base de datos "universidade" cargada.

In [ ]:
# Preparación do environment

# Instalación de librarías
# ipython-sql
# pymysql

# load the ipython-sql extension
%load_ext sql

In [1]:
# Conexión á base de datos
# usuario: 'user'
# contrasinal: 'password'ArithmeticError

In [ ]:
user = 'user'
password = 'password'
connection_string = f'mysql+pymysql://{user}:{password}@192.168.33.150:3306/universidade'
%sql $connection_string

In [ ]:
# 1. Nomes e apelidos das persoas

In [2]:
# 2. Códigos, nome e créditos das materias.

In [3]:
# 3. Datos das persoas.

In [4]:
# 4. Posibilidades de créditos das asignaturas (usar DISTINCT).

In [5]:
# 5. Posibilidades de custo, en cada curso das asignaturas.

In [6]:
# 6. Suma do custo das materias.

In [7]:
# 7. Cantas asignaturas hai?

In [8]:
# 8. Custo da materia máis cara.

In [9]:
# 9. Custo da asignatura máis barata.

In [10]:
# 10. Custo máximo, mínimo e medio das materias.

In [11]:
# 11. Cantas posibilidades de créditos de asignatura hai?

In [12]:
# 12. Cantos cursos hai?

In [13]:
# 13. Cantas cidades e nomes distintos hai?

In [14]:
# 14. Nome e créditos das asignaturas do primeiro cuatrimestre.

In [15]:
# 15. Nome e custo básico das asignaturas de máis de 4,5 créditos.

In [16]:
# 16. Nome das materias cuxo custo está entre 25 e 25 euros. (Con e sen BETWEEN).

In [17]:
# 17. Mostrar o Id do alumnado matriculado na asignatura '150212' ou 
# ben na '130113', ou en ambas as dúas. (Con e sen IN).

In [18]:
# 18. Mostrar o Id do alumnado matriculado en calquera asignatura salvo a '150212' ou a '130113'.

In [19]:
# 19.Nome das asignaturas do segundo cuatrimestre que non sexan de 6 créditos.

In [20]:
# 20. Mostrar o nome das asignaturas cuxo custo por crédito sexa maior de 8 euros.

In [21]:
# 21. Nome e número de horas de todas as asignaturas (1crédito = 10h).

In [22]:
# 22. Mostrar o nome e o apelido das persoas cuxo apelido comece pola letra 'G'.

In [23]:
# 23. Datos das persoas que haceron en 1978.

In [24]:
# 24. Mostrar o nome das persoas para as que se descoñece a data de nacemento.

In [25]:
# 25. Mostrar as materials que non pertencen a ningunha titulación.

In [26]:
# 26. Listaxe do nome completo das persoas, os seus teléfonos e os seus enderezos,
# chamando á columna do nome 'NomeCompleto' e á de enderezos 'Enderezo'

In [27]:
# 27. Cal é o día seguinte ao día no que naceu cada persoa?

In [28]:
# 28. Anos das persoas na base de datos.

In [29]:
# 29. Listaxe de persoas ordenadas por apelidos e nome.

In [30]:
# 30. Listaxe de persoas maiores de 25 anos ordenadas por apelidos e nome.

In [31]:
# 31. Listaxe que mostre as asignaturas co seu custo por crédito ordenadas polo seu custo por crédito.

In [32]:
# 32. Listaxe de nomes completos de todos os alumnos.

In [33]:
# 33. Listaxe de alumnado matriculado que vive en 'La Rioja'.

In [34]:
# 34. Listaxe de asignaturas impartidas por profesores de Logroño.

In [35]:
# 35. Listaxe de profesores que ademais son alumnos.

In [36]:
# 36. Nomes completos dos profesores que ademais son alumnos.

In [37]:
# 37. Nomes completos do alumnado que cursa a materia de 'Seguridad Vial'.

In [38]:
# 38. Nomes completos do alumnado que cursa algunha asignatura do 2º cuatrimestre.

In [39]:
# 39. Nomes do profesorado que imparte polo menos unha asignatura.

In [42]:
# 40. Suma dos créditos das asignaturas de Matemáticas.

In [41]:
# 41. Número de asignaturas da titulación de Matemáticas.

In [43]:
# 42. Id das titulacións nas que está matriculado o alumno co DNI '18181818A'
# sabendo que para que un alumno esté matriculado nunha titulación basta con que 
# esté matriculado nalgunha das súas asignaturas.

In [44]:
# 43. Cal sería o custo global de cursar a titulación de Matemáticas se o custo de cada asignatura
# fora incrementado un 7%.

In [45]:
# 44. Profesorado que tamén é alumno indicando a asignatura ou asignaturas que cursan.

In [46]:
# 45. Titulacións (nomes) nas que imparte docencia cada profesor, xunto co nome de cada profesor.

In [47]:
# 46. Listaxe ordenado por nome de titulación e nome da asignatura de todas as asignaturas,
# mostrando ademais a titulación, nome da asignatura e nome do profesor.

In [49]:
# 47. Nomes completos de alumnos matriculados en algunha asignatura mostrando cal é a asignatura e
# a titulación á que pertencen as asignaturas.

In [50]:
# 48. Listaxe que mostre, por cada asignatura, os nomes completos dos alumnos matriculados.

In [53]:
# 48B. Supoñendo que se ten a seguinte táboa, que clasifica os tamamos das asignaturas en función
# do seu número de créditos.
# Nome da táboa: TamanhoAsignatura

# Tamanho | CreditosMin | CreditosMax
# Corta   | 0           | 4.5
# Media   | 6           | 7.5
# Larga   | 9           | 100

# Obtén un listado das asignaturas xunto coa calificación da súa duración segunto a táboa anterior.

In [54]:
# 49. Asignaturas da titulación de Matemáticas.

In [55]:
# 50. Listaxe de asignaturas que teñan máis créditos que 'Seguridad Vial'